GEMINI_API_KEY=
VITE_FIREBASE_API_KEY=

# Stripe Payment Gateway (Optional / Required for Live Stripe Payments)
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# SSLCommerz Payment Gateway (Optional)
SSLCOMMERZ_STORE_ID=
SSLCOMMERZ_STORE_PASSWORD=
SSLCOMMERZ_IS_SANDBOX=true
